.container{
    text-align: center;
    width: 100%;
}

.number{
    width:125px;
    height: 125px;
    margin:16px;
}

.card{
    width: 100%;
}

#plabod{
    margin-top: 16px;
}

#opbod{
    margin-top: 16px;
}

.attack{
    margin: 20px;
}

.jumbotron{
    padding:0;
}

.btn{
    height: 100px;
}

#button-1{
    background-image: url("http://www.pokestadium.com/sprites/xy/charmander.gif");
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    height: 100px;
}

#button-2 {
    background-image: url("http://www.pokestadium.com/sprites/xy/squirtle.gif");
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    height: 100px;
}

#button-3 {
    background-image: url("http://www.pokestadium.com/sprites/xy/bulbasaur.gif");
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    height: 100px;
}

#button-4 {
    background-image: url("http://www.pokestadium.com/sprites/xy/pikachu.gif");
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    height: 100px;
}